@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile_photo {
    width: 100%;
    display: flex;
    white-space: nowrap;
}

.container_first {
    min-width: 320px;
    max-width: 320px;
}

.profile_photo .prof_photo {
    min-width: 15%;
    background-color: #002B5B;
    display: flex;
    border-bottom: 1px solid #eee;
}

.profile_photo .prof_photo img {
    width: 200px;
    height: 185px;
    border-radius: 50%;
    margin: 5px;
}

.profile_photo .prof_photo .container_name {
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    font-family:"sans-serif";
    letter-spacing: 1px;
    width: 100%;
}

.profile_photo .prof_photo .container_name #name {
  font-size: 22px;
}

.profile_photo .prof_photo .container_name #caption,
.profile_photo .prof_photo .container_name #email {
  font-size: 12px;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: #002B5B;
    min-width: 15%;
    caret-color: transparent;
  }

  .menu-btn__burger {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-8px);
  }

  .menu-btn__burger::after {
    transform: translateY(8px);
  }


  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .container_second {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .container_second h1{
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
  }

  .container_second .page_name {
    background-color: #FEC260;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .container_second .page_name h5 {
    margin:0;
    padding: 5px;
    color: #3e3e3e;
    font-weight: 700;
  }

  .side_nav {
    display: flex;
      flex-direction: column;
      position: absolute;
      top: 240px;
      bottom: 0;
      left: -20%;
      background-color: #002B5B;
      width: 320px;
      transition: all 1s ease-in-out;
      padding-top: 20px;
      opacity: 0;
  }

  .side_nav.active {
    left: 0;
    opacity: 1;
    transition: all 1s ease-in-out;
  }
  
  .side_nav ul {
    background-color: #002B5B;
    width: 100%;
  }
  
  .side_nav ul li {
    list-style: none;
  }
  
  .side_nav ul li a:hover,
  .side_nav ul li div button:hover{
    background-color: #2B4865;
    cursor: pointer;
  }
  
    .side_nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    display: block;
    position: relative;
    padding: 10px;	
    width: 100%;		
  }
  
  .side_nav ul li .subNav{
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    background-color: #0d396a;
  }
  
  .side_nav ul li .subNav.show{
    overflow: show;
    height: 140px;
    transition: all 0.5s;
  }
  
  .side_nav ul li .subNav li a{
    padding-left: 30px;
  }
  
  .side_nav ul li a span {
    position: absolute;
    display: block;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    
  }
  
  .side_nav ul li div button{
    font-size: 1.1em;
    color: #fff;
    background: transparent;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px;
  }

  .container-footer {
    width: 100%;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    caret-color: transparent;
    z-index: 2;
}

.container-content {
  position: relative;
  margin-left: 0;
  transition: all 1s ease-in-out;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.container-content.active {
  margin-left: 320px;
  transition: all 1s ease-in-out;
}