@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    .container__studentsAction {
        min-height: 80vh;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        position: relative;
        overflow-x: hidden;
    }

    .studentsAction__single{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 100%;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: Center;
        pointer-events: none;
        transition: all 1s ease-in-out; 
    }
    
    .studentsAction__single.active {
        left: 0;
        right: 0;
        overflow: auto;
        transition: all 1s ease-in-out;
        pointer-events: all;
    }

    .container__studentsAction .studentsAction__multiple{
        position: absolute;
        top: 0;
        bottom: 0;
        right: -100%;
        left: 100%;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: all 1s ease-in-out;
        background-color: #eee;
    }
    
    
    .studentsAction__multiple.active {
        left: 0;
        right: 0;
        overflow: auto;
        transition: all 1s ease-in-out;
        opacity: 1;
        pointer-events: all;
    }

    .studentsAction__rightContent {
        position: relative;
        display: flex;
        transition: all 0.5s;
        background-color: #eee;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .stdContent__details {
        display: flex;
        position: relative;
        min-width: 90%;
        min-height: 80%;
        background-color: #eee;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .stdContent__details span {
        width: 300px;
        height: 50px;
        font-weight: bold;
        font-size: 20px;
        background-color: #f0f0f0;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        caret-color: transparent;
        margin: 10px 0 10px 0;
        box-shadow: 0 0 5px 0 black inset;
        transition: all 0.2s;
    }

    .stdContent__details span:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.2s;
    }

    .multiple_action {
        margin-top: 20px;
    }

    .stdAction__hideLeft {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1em;
        font-weight: bold;
        padding-right: 10px;
    }

    .container__singleEdit {
        min-width: 60%;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
    }
    
    .container__singleEdit select,
    .container__singleEdit input {
        font-size: 1.2em;
        padding: 3px;
    }
    
    .singleEdit__searchCont {
        width: 100%;
        margin-bottom: 20px;
        
    }
    
    .singleEdit__searchCont .search-message {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        color: red;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
    }
    
    .singleEdit__searchCont button {
        margin-top: -7px;
    }
    
    .detailsCont__row1st {
        display: flex;
    }
    
    .singleEdit__content {
        display: flex;
        flex-direction: column;
    }
    
    .detailsCont__row1st input {
        margin-right: 10px;
    }
    
    #singleEdit__address {
        width: 700px;
    }
    
    #singleEdit__gender {
        width: 230px;
    }
    
    .singleEdit__content label {
        text-align: center;
        font-style: italic;
        font-size: 12px;
        font-weight: bold;
    }
    
    .container__singleEdit table {
        background-color: #fff;
    }
    
    .container__singleEdit table tr td {
        padding-bottom: 5px;
        padding-left: 10px;
        white-space: nowrap;
    }
    
    .stdCrud_viewSingle {
        position: absolute;
        display: flex;
        top: 5px;
        left: 5px;
        color: #000;
        font-size: 1em;
        font-weight: bold;
    }
    .stdCrud_viewSingle:hover {
        cursor: pointer;
    }

    .stdAction__hideRight {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1em;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .single_actionOverlay{
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 100%;
        width: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    .singleEdit__actionButton {
        justify-content: flex-end;
        display: flex;
    }
    
    .singleEdit__actionButton button {
        margin-right: 10px;
    }
    
    #actionButton__edit {
        display: none;
    }

    .multiple_actionOverlay {
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 100%;
        width: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    .multiple_actionOverlay:hover,
    .single_actionOverlay:hover{
        opacity: 1;
        cursor: pointer;
        transition: all 0.5s;
    }
    
    






    .showLeftOverlay {
        position: absolute;
        top: 0;
        right: 1%;
        width: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 1s;
    }
    
    .single__tag.showLeftTag {
        display: block;
        max-height: 35px;
        color: red;
        opacity: 1;
        top: 0;
        right: 0;
        transition: all 0.4s;
        font-size: 1.2em;
        font-weight: bold;
    }

